_site
.sass-cache
.jekyll-metadata
.jekyll-cache/*
_drafts
google078c0ba00cd9a664.html
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
